<ul class="bt-vmenu" id="mainlevel">
    {% for post in site.posts %}
        <li class="{% if page.url == post.url %}active{% endif %}"><a href="{{ post.url }}"><span class="l"></span><span class="r"></span><span
                class="t">{% if post.url == '/index.php' %}Home{% else %}{{ post.title }}{% endif %}</span></a></li>
    {% endfor %}
    <!--
    <li id="current" class="active item53"><a href="/" class="active"><span class="l"></span><span
            class="r"></span><span class="t">Home</span></a></li>
    <li class="item20296"><a href="/installation-and-maintenance"><span class="l"></span><span class="r"></span><span
            class="t">Installation &amp; Maintenance</span></a></li>
    <li class="item20297"><a href="/lighting"><span class="l"></span><span class="r"></span><span
            class="t">Lighting</span></a></li>
    <li class="item20298"><a href="/alarm-systems"><span class="l"></span><span class="r"></span><span class="t">Alarm Systems</span></a>
    </li>
    <li class="item20299"><a href="/consulting"><span class="l"></span><span class="r"></span><span
            class="t">Consulting</span></a></li>
    <li class="item20300"><a href="/electrical-testing-electrician-newtownabbey"><span class="l"></span><span
            class="r"></span><span class="t">Electrical Testing</span></a></li>
    <li class="item20301"><a href="/external-links"><span class="l"></span><span class="r"></span><span class="t">External Links</span></a>
    </li>
    <li class="item20302"><a href="/about-us-Electrician-Newtownabbey-NTS-Electrical-Services-Belfast-spark"><span
            class="l"></span><span class="r"></span><span class="t">About Us - Noel The Spark</span></a></li>
    <li class="item55"><a href="/contact-us"><span class="l"></span><span class="r"></span><span
            class="t">Contact Us</span></a></li>
    -->
</ul>