<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">NTS Electrical Services also known as `Noel the spark` as heard on Johnny Hero’s show on U105FM.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Installation & Maintenance</h4>
                    <p class="text-muted">We like to think of ourselves as your one stop shop for all your electrical requirements whether you are a homeowner, landlord, managing agent or business.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lightbulb-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Lighting</h4>
                    <p class="text-muted">Noel O’Hare is not just a man who connects a few wires and hopes your lights work, he is a time served electrician with over 35 year’s experience.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bell fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Alarm Systems</h4>
                    <p class="text-muted">One alarm system might look like another but with many years of experience we can provide the knowledge for you to make the correct choice for your house or premises.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bolt fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Consulting</h4>
                    <p class="text-muted">NTS offers comprehensive electrical contracting services at rates that won’t short circuit your bank account.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-warning fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Electrical Testing</h4>
                    <p class="text-muted">Regular electrical testing can prevent a fire in your home or property and potentially save lives.</p>
                </div>
            </div>
        </div>
    </section>