<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb" lang="en-gb" >

  {% include head.html %}

    <body class="joomla15">

    {% include header.html %}

    <div id="bt-page-background-middle-texture">
      <div id="bt-page-background-glare">
        <div id="bt-page-background-glare-image">
          <div id="bt-main">
            <div class="bt-sheet">
              <div class="bt-sheet-tl"></div>
              <div class="bt-sheet-tr"></div>
              <div class="bt-sheet-bl"></div>
              <div class="bt-sheet-br"></div>
              <div class="bt-sheet-tc"></div>
              <div class="bt-sheet-bc"></div>
              <div class="bt-sheet-cl"></div>
              <div class="bt-sheet-cr"></div>
              <div class="bt-sheet-cc"></div>
              <div class="bt-sheet-body">
                <div class="bt-header">
                  <div class="bt-header-center">
                    <div class="bt-header-png"></div>
                  </div>
                  <div class="bt-headerobject">
                    <div id="header_logo_position" style="position: absolute;z-index: 10;margin-left:-50%;left:50%;width:100%; max-width:100%;top:-7%;" class="header_logo">
                      <a href="/index.php" title="Return to Home Page" target="_self">
                        <img src="/images/header-object.png" id="tz_headerLogo" alt="Return to Home Page" class="img-responsive">
                      </a>
                    </div>
                  </div>
                  <div class="bt-logo">
                    <h2 id="slogan-text" class="bt-logo-text">Call us on 07889 119672</h2>
                  </div>

                </div>

                <div class="bt-content-layout">
                  <div class="bt-content-layout-row">
                    <div class="bt-layout-cell bt-sidebar1">
                      <div class="bt-vmenublock">
                        <div class="bt-vmenublock-cc"></div>
                        <div class="bt-vmenublock-body">
                          <div class="bt-vmenublockcontent">
                            <div class="bt-vmenublockcontent-body">
                              {% include left-nav.html %}

                              <div class="cleared"></div>
                            </div>
                          </div>

                          <div class="cleared"></div>
                        </div>
                      </div>

                      <div class="bt-block">
                        <div class="bt-block-tl"></div>
                        <div class="bt-block-tr"></div>
                        <div class="bt-block-bl"></div>
                        <div class="bt-block-br"></div>
                        <div class="bt-block-tc"></div>
                        <div class="bt-block-bc"></div>
                        <div class="bt-block-cl"></div>
                        <div class="bt-block-cr"></div>
                        <div class="bt-block-cc"></div>
                        <div class="bt-block-body">

                          <div class="bt-blockcontent">
                            <div class="bt-blockcontent-body">

                              <p style="text-align: center;"><a class="jliovox-c2c" href="#"><img alt="Click to Call" src="/images/1/click-to-call-white-211x150.jpg" width="211" height="150" /></a></p>
                              <p><img style="display: block; margin-left: auto; margin-right: auto;" alt="neceic" src="/images/neceic.jpg" width="205" height="118" /></p>
                              <div style="position: relative; background: #fff;">
                                <p>&nbsp;</p>
                                <p><img style="display: block; margin-left: auto; margin-right: auto;" title="cartoon-charactor-of-electrician-wearing-blue-overalls-yellow-helmet-with-thumbs-up" alt="Noel the Spark in black overals and tool belt" src="/images/NTS.png" width="161" height="189" /></p>
                                <p>&nbsp;&nbsp;</p>
                                <p><a href="https://en-gb.facebook.com/NoelTheSpark" target="_blank"><img style="display: block; margin-left: auto; margin-right: auto;" alt="find us facebook transparent" src="/images/find_us_facebook_transparent.png" width="206" height="58" /></a></p>
                              </div>

                              <div class="cleared"></div>
                            </div>
                          </div>


                          <div class="cleared"></div>
                        </div>
                      </div>

                      <div class="bt-block">
                        <div class="bt-block-tl"></div>
                        <div class="bt-block-tr"></div>
                        <div class="bt-block-bl"></div>
                        <div class="bt-block-br"></div>
                        <div class="bt-block-tc"></div>
                        <div class="bt-block-bc"></div>
                        <div class="bt-block-cl"></div>
                        <div class="bt-block-cr"></div>
                        <div class="bt-block-cc"></div>
                        <div class="bt-block-body">

                          <div class="bt-blockcontent">
                            <div class="bt-blockcontent-body">

                              <div id="jlfacebook" style="width:100%;text-align:center;"><iframe src="//www.facebook.com/plugins/like.php?href=www.ntselectricalservices.com&amp;send=false&amp;layout=box_count&amp;width=200&amp;show_faces=false&amp;action=recommend&amp;colorscheme=light&amp;font=arial&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:200px; height:80px;" allowTransparency="true"></iframe></div>

                              <div class="cleared"></div>
                            </div>
                          </div>


                          <div class="cleared"></div>
                        </div>
                      </div>

                      <div class="bt-block">
                        <div class="bt-block-tl"></div>
                        <div class="bt-block-tr"></div>
                        <div class="bt-block-bl"></div>
                        <div class="bt-block-br"></div>
                        <div class="bt-block-tc"></div>
                        <div class="bt-block-bc"></div>
                        <div class="bt-block-cl"></div>
                        <div class="bt-block-cr"></div>
                        <div class="bt-block-cc"></div>
                        <div class="bt-block-body">

                          <div class="bt-blockcontent">
                            <div class="bt-blockcontent-body">




                              <!-- Echo out code if the module is enabled and profile ID is set -->

                              <!-- AddThis Button BEGIN -->
                              <div class="addthis_toolbox addthis_default_style ">
                                <a class="addthis_counter addthis_pill_style"></a>
                              </div>
                              <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-511e287f23a7277b"></script>
                              <script type="text/javascript">
                                if(typeof addthis_config !== "undefined"){
                                  addthis_config.data_use_cookies = false;
                                }
                                else{
                                  var addthis_config = {
                                    data_use_cookies: false
                                  };
                                }
                              </script>
                              <!-- AddThis Button END -->



                              <div class="cleared"></div>
                            </div>
                          </div>


                          <div class="cleared"></div>
                        </div>
                      </div>


                      <div class="cleared"></div>
                    </div>
                    <div class="bt-layout-cell bt-content">

                      <div class="item-page"><div class="bt-post">
                        <div class="bt-post-body">
                          <div class="bt-post-inner">
                            <div class="bt-postcontent">
                              <div class="bt-article">
                              {{ content }}
                            </div>
                            <div class="cleared"></div>
                          </div>

                          <div class="cleared"></div>
                        </div>
                      </div>
                      </div>
                      <div class="cleared"></div>
                    </div>

                  </div>
                </div>
                <div class="cleared"></div>



                <div class="cleared"></div>
              </div>
            </div>


    {% include footer.html %}

    </body>
</html>